---
layout: astral
---
<!-- Wrapper-->


	<!-- Nav -->
		<nav id="nav">
			<a href="#" class="icon fa-home fa-fw"><span>Home</span></a>
			<a href="#work" class="icon fa-folder fa-fw"><span>Work</span></a>
			<a href="#edu" class="icon fa-graduation-cap fa-fw"><span>Education</span></a>
			<a href="#talks" class="icon fa-microphone fa-fw d-none d-sm-inline"><span>Talks</span></a>
			<a href="#portfolio" class="icon fa-archive fa-fw d-none d-sm-inline"><span>Portfolio</span></a>
			<a href="#contact" class="icon fa-envelope fa-fw"><span>Contact</span></a>
			<a href="https://twitter.com/olearycrew" class="icon fa-twitter fa-fw" target="_blank"><span>Twitter</span></a>
			<a href="https://www.linkedin.com/in/olearycrew" class="icon fa-linkedin fa-fw d-none d-sm-inline" target="_blank"><span>Twitter</span></a>
			<a href="https://gitlab.com/brendan" class="icon fa-gitlab fa-fw d-none d-sm-inline" target="_blank"><span>Twitter</span></a>
		</nav>

	<!-- Main -->
		<div id="main">

			<!-- Me -->
			<article id="home" class="panel intro">
				<header>
					<h1>{{ site.me }}</h1>
					<h3>{{site.tagline}}</h3>
					<p>{{site.description}}</p>
				</header>
				<a href="#work" class="jumplink pic">
					<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
					<img src="/images/profile-pic.png" alt="" />
				</a>
			</article>

			<!-- Work -->
			<article id="work" class="panel">
				<header>
					<h2>Work</h2>
				</header>
				<div>
					Over my 12 years in software development, I have:
					<ul>
						<li>
							Managed software product lines and product managers, including dozens of products from idea through to market
						</li>
						<li>
							Fervently advocated  for the user experience at all times
						</li>
						<li>
							Obtained and honed expert skills in managing all aspects of application development; including but not limited to - product design, user experience,  product-market fit, and technical implementation and delivery
						</li>
						<li>
							Proven to be highly motivated, results-oriented, and gained extensive experience in working with clients, customers, and end users of information system solutions
						</li>
					</ul>
				</div>
				<section>
					{% for item in site.data.experience.work %}
					<div class="row">
						<div class="col-1">
							&nbsp;
						</div>
						<div class="col-10 card-simple">
							<h3>
								{{item.company}} 
								<span class="lighter">/</span>
								<span class="light">
									{{item.title}}
								</span> 
							</h3>
							<p>{{item.dates}}</p>
							<div>
								{{item.desc}}
							</div>
						</div>
					</div>
					<br/>
					{% endfor %}
				</section>
			</article>

			<!-- Education -->
			<article id="edu" class="panel">
				<header>
					<h2>Education & Certifications</h2>
				</header>
				<section>
					{% for item in site.data.experience.education %}
					<div class="row">
						<div class="col-1">
							&nbsp;
						</div>
						<div class="col-10 card-simple">
							<h3>
								{{item.university}} 
								<br/>
								<span class="light">
									{{item.college}}
								</span> 
							</h3>
							<p>{{item.date}}</p>
							<div>
								{{item.desc}}
							</div>
						</div>
					</div>
					<br/>
					{% endfor %}
				</section>
				<section>
						{% for item in site.data.experience.certifications %}
						<div class="row">
							<div class="col-1">
								&nbsp;
							</div>
							<div class="col-10 card-simple">
								<h3>
									{{item.company}} 
									<br/>
									<span class="light">
										{{item.title}}
									</span> 
								</h3>
								<div>
									{{item.desc}}
								</div>
							</div>
						</div>
						<br/>
						{% endfor %}
					</section>
			</article>

			<!-- Contact -->
			<article id="contact" class="panel">
				<header>
					<h2>Contact Me</h2>
				</header>
				<form action="https://formspree.io/forms@olearycrew.com" method="POST">
					<div>
						<div class="row">
							<div class="col-6 col-12-medium">
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="col-6 col-12-medium">
								<input type="text" name="email" placeholder="Email" />
							</div>
							<div class="col-12">
								<input type="text" name="subject" placeholder="Subject" />
							</div>
							<div class="col-12">
								<textarea name="message" placeholder="Message" rows="6"></textarea>
							</div>
							<div class="col-12">
								<input type="submit" value="Send Message" />
							</div>
						</div>
					</div>
				</form>
			</article>

			<!-- Talks -->
			<article id="talks" class="panel">
				<header>
					<h2>Speaking &amp; Talks</h2>
				</header>
				<section>
					<div class="row">
					<div class="col-12 card-simple">
						<h4>Speaker Bio</h4>
						<p>
							For my current speaker bio, see <a href="https://about.gitlab.com/company/team/#olearycrew">my profile on GitLab.com</a>.
						</p>
						<h4>Talks</h4>
						<ul>
						{% for item in site.data.talks %}
							<li>
								<a href="#{{item.id}}">
									{{item.name}}
								</a>
							</li>
						{% endfor %}
						</ul>
					</div>
					</div>
				</section>
				<section>
				{% for item in site.data.talks %}
				<div class="row">
					<div class="col-12 card-simple" id="{{item.id}}">
						<h3>
							{{item.name}}
						</h3>
						<div>
							{{item.desc}}

							{% if item.show_vid %}
							<br/><br/>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/{{item.show_vid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							{% endif %}
						</div>
					</div>
				</div>
				<br/>
				{% endfor %}
				</section>
			</article>

			<article id="portfolio" class="panel">
				<header>
					<h2>Portfolio</h2>
					<br/>
				</header>
				<section>
				<div class="row">
				{% for item in site.data.portfolio %}
				<div class="col-6 card">
					{% if item.link %}
					<a href="{{item.link}}" target="_blank">
					<img class="card-img-top" src="/images/portfolio/{{item.image}}" alt="{{item.name}}">
					</a>
					{% else %}
					<img class="card-img-top" src="/images/portfolio/{{item.image}}" alt="{{item.name}}">
					{% endif %}
					<div class="card-body">
						<h5 class="card-title">
							{{item.name}}
						</h5>
						<p class="card-text">
							{{item.desc}}
						</p>
					</div>
				</div>
				{% endfor %}
				</div>
				</section>
			</article>

		</div>

	<!-- Footer -->
		<div id="footer">
			<ul class="copyright">
				<li>&copy; {{site.me}}.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
