<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <div class="container">
            <h3>This is what I did today...</h3>

            <div class="row">
                <div class="col-md-9">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="leftPlayer"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Change music</h4>
                    <form action="/luca" method="GET">
                        <div class="form-group">
                            <label for="rightSource">Video ID</label>
                            <input type="text" class="form-control" id="rightSource" name="rightSource" aria-describedby="emailHelp" placeholder="e.g. C-u5WLJ9Yk4">
                        </div>
                        <div class="form-group">
                            <label for="startTime">Start Time</label>
                            <input type="text" class="form-control" id="startTime" name="startTime" placeholder="e.g. 18">
                        </div>
                        <button type="submit" class="btn btn-primary">Go!</button>
                    </form>
                    <br/><br/>
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="rightPlayer"></div>
                    </div>

                </div>
            </div>
            <br/><br/>
            <div class="row hidden">
                <div class="container-fluid">
                    {% for item in site.data.luca %}
                        <a class="col-2 btn btn-{% if item.btn %}{{item.btn}}{% else %}primary{% endif %}" href="/luca?rightSource={{item.source}}&startTime={{item.startTime}}">{{item.title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script async src="https://www.youtube.com/iframe_api"></script>
        <script>
            function onYouTubeIframeAPIReady() {
                var player;
                var rplayer;
                let qs = getUrlVars();
                let leftSource = 'tuk_ZZQWfEY';
                let rightSource = 'C-u5WLJ9Yk4';
                let startTime = 0;

                if (qs['leftSource']) {
                    leftSource = qs['leftSource'];
                }

                if (qs['rightSource']) {
                    rightSource = qs['rightSource'];
                }

                if (qs['startTime']) {
                    startTime = qs['startTime'];
                }

                player = new YT.Player('leftPlayer', {
                    videoId: leftSource, // YouTube Video ID
                    width: 560, // Player width (in px)
                    height: 316, // Player height (in px)
                    playerVars: {
                        autoplay: 1, // Auto-play the video on load
                        controls: 1, // Show pause/play buttons in player
                        showinfo: 0, // Hide the video title
                        modestbranding: 1, // Hide the Youtube Logo
                        loop: 1, // Run the video in a loop
                        fs: 0, // Hide the full screen button
                        cc_load_policy: 0, // Hide closed captions
                        iv_load_policy: 3, // Hide the Video Annotations
                        autohide: 0 // Hide video controls when playing
                    },
                    events: {
                        onReady: function (e) {
                            e
                                .target
                                .mute();
                        }
                    }
                });

                rplayer = new YT.Player('rightPlayer', {
                    videoId: rightSource, // YouTube Video ID
                    width: 560, // Player width (in px)
                    height: 316, // Player height (in px)

                    playerVars: {
                        autoplay: 1, // Auto-play the video on load
                        controls: 1, // Show pause/play buttons in player
                        showinfo: 0, // Hide the video title
                        modestbranding: 1, // Hide the Youtube Logo
                        loop: 1, // Run the video in a loop
                        fs: 0, // Hide the full screen button
                        cc_load_policy: 0, // Hide closed captions
                        iv_load_policy: 3, // Hide the Video Annotations
                        autohide: 0, // Hide video controls when playing
                    },
                    events: {
                        onReady: function (e) {
                            rplayer.seekTo(startTime);
                        }
                    }
                });
            }
        </script>

        <script>
            // Read a page's GET URL variables and return them as an associative array.
            function getUrlVars() {
                var vars = [],
                    hash;
                var hashes = window
                    .location
                    .href
                    .slice(window.location.href.indexOf('?') + 1)
                    .split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }
        </script>
    </body>
</html>